# Inspired by https://docs.docker.com/compose/django/
version: '3.4'

services:
  db:
    image: mdillon/postgis
    # environment:
    #   - POSTGRES_USER=${PG_USER:zrc}
    #   - POSTGRES_PASSWORD=${PG_PASSWORD:zrc}
  redis:
    image: redis
  web:
    image: vngr/gemma-zrc
    environment:
      - DJANGO_SETTINGS_MODULE=zrc.conf.docker
      - SECRET_KEY=${SECRET_KEY}
      - REDIS_CACHE=redis:6379/0
    ports:
      - 8000:8000
    depends_on:
      - db
      - redis
